[submodule "vendor/dm.pl"]
	path = vendor/dm.pl
	url = https://github.com/aJBbo/dm.pl.git
[submodule "vendor/include"]
	path = vendor/include
	url = https://github.com/aJBbo/headers.git
[submodule "vendor/lib"]
	path = vendor/lib
	url = https://github.com/aJBbo/lib.git
[submodule "vendor/logos"]
	path = vendor/logos
	url = https://github.com/aJBbo/logos.git
[submodule "vendor/nic"]
	path = vendor/nic
	url = https://github.com/aJBbo/nic.git
[submodule "vendor/templates"]
	path = vendor/templates
	url = https://github.com/aJBbo/templates.git
